.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.game .title {
  font-size: 35px;
  font-weight: 600;
}

.status {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.game-info {
  margin-top: 16px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info .btn {
  width: 200px;
  background-color: #f90404;
  color: #fff;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 5px;
  border-width: 0px;
  padding: 10px 20px;
  cursor: pointer;
}

.move-button {
  width: 200px;
  background-color: #27ae60;
  border-width: 0px;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
